.address {
    display: inline-block;
    max-width: 240px;
    line-height: 24.3px;
    font-style: normal;
    font-size: 18px;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 31px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
   font-size: 18px;
  line-height: 21px;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
   display: inline-block;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  max-width: 240px;
}



.header__address {
  justify-self: end;
}

.cover {
    height: 757px;
    position: relative;
    background: url(../images/cover.jpg) center/cover no-repeat;
    padding: 165px 50px 50px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    font-style: bold;
    line-height: 115%;
    letter-spacing: 30px;
    position: relative;
    z-index: 2;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    align-self: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 19px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
}


.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
   display: flex;
    flex-direction: column;
    width: 334px;
    min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   padding: 48px 40px;
   height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
   font-weight: 700;
   font-size: 22px;
   line-height: 120%;
   text-decoration-line: underline;
   text-underline-offset: -4px;
   text-underline-position: under;
   text-transform: uppercase;
   color: white;
   position: relative;
   z-index: 2;
   top: 0;
}
.card__text {
   font-weight: 400;
   font-size: 20px;
   line-height: 120%;
   color: #FFFFFF;
   position: relative;
   z-index: 2;
}

.lots__look-more-link {
   display: inline-block;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   text-transform: lowercase;
   margin-left: 40px;
   margin-top: 30px;
   text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 24px;
  margin: 0 24px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin: 35px 0 0 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 120%;
}

.bottom-margin {
   margin-bottom: 24px;
   padding-right: 5px;
}

.footer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-between;
   align-items: start;
   padding: 82px 50px;
   margin-top: 99px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
